@charset "UTF-8";
#infoarte {
  /* HTML5 display-role reset for older browsers */ }
  #infoarte div, #infoarte span, #infoarte object, #infoarte iframe,
  #infoarte h1, #infoarte h2, #infoarte h3, #infoarte h4, #infoarte h5, #infoarte h6, #infoarte p, #infoarte blockquote, #infoarte pre,
  #infoarte a, #infoarte abbr, #infoarte acronym, #infoarte address, #infoarte big, #infoarte cite, #infoarte code,
  #infoarte del, #infoarte dfn, #infoarte em, #infoarte img, #infoarte ins, #infoarte kbd, #infoarte q, #infoarte s, #infoarte samp,
  #infoarte small, #infoarte strike, #infoarte strong, #infoarte sub, #infoarte sup, #infoarte tt, #infoarte var,
  #infoarte b, #infoarte u, #infoarte i, #infoarte center,
  #infoarte dl, #infoarte dt, #infoarte dd, #infoarte ol, #infoarte ul, #infoarte li,
  #infoarte fieldset, #infoarte form, #infoarte label, #infoarte legend,
  #infoarte table, #infoarte caption, #infoarte tbody, #infoarte tfoot, #infoarte thead, #infoarte tr, #infoarte th, #infoarte td,
  #infoarte article, #infoarte aside, #infoarte canvas, #infoarte details, #infoarte embed,
  #infoarte figure, #infoarte figcaption, #infoarte footer, #infoarte header, #infoarte hgroup,
  #infoarte menu, #infoarte nav, #infoarte output, #infoarte ruby, #infoarte section, #infoarte summary,
  #infoarte time, #infoarte mark, #infoarte audio, #infoarte video, #infoarte button {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline; }
  #infoarte article, #infoarte aside, #infoarte details, #infoarte figcaption, #infoarte figure,
  #infoarte footer, #infoarte header, #infoarte hgroup, #infoarte menu, #infoarte nav, #infoarte section {
    display: block; }
  #infoarte body {
    line-height: 1; }
  #infoarte ol, #infoarte ul {
    list-style: none; }
  #infoarte blockquote, #infoarte q {
    quotes: none; }
  #infoarte blockquote:before, #infoarte blockquote:after,
  #infoarte q:before, #infoarte q:after {
    content: '';
    content: none; }
  #infoarte table {
    border-collapse: collapse;
    border-spacing: 0; }

html, body, * {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none; }

/*TELA FULL*/
body article {
  max-width: 100% !important; }

/*COLOCA A BARRA DO GLOGO POR CIMA*/
body #sticker {
  z-index: 100000000000000000000000000000;
  position: relative !important; }

body #menu-editoria {
  z-index: 100000000000000000000000000000; }

/*TIRA O TÍTULO E SUBTÍTULO DA PÁGINA*/
/*
body .head-materia{
  height: 0;
  overflow: hidden;s
}
body #all_banner{
  height: 0 !important;
  overflow: hidden  !important;
  padding: 0  !important;
  border: none  !important;
  background: none  !important;
  margin: 0  !important;
}

body article+.row{
  display: none;
}*/
/*
  @media screen and(max-width: 1024px){
*/
