@charset "UTF-8";
#infoarte {
  /* HTML5 display-role reset for older browsers */ }
  #infoarte div, #infoarte span, #infoarte object, #infoarte iframe,
  #infoarte h1, #infoarte h2, #infoarte h3, #infoarte h4, #infoarte h5, #infoarte h6, #infoarte p, #infoarte blockquote, #infoarte pre,
  #infoarte a, #infoarte abbr, #infoarte acronym, #infoarte address, #infoarte big, #infoarte cite, #infoarte code,
  #infoarte del, #infoarte dfn, #infoarte em, #infoarte img, #infoarte ins, #infoarte kbd, #infoarte q, #infoarte s, #infoarte samp,
  #infoarte small, #infoarte strike, #infoarte strong, #infoarte sub, #infoarte sup, #infoarte tt, #infoarte var,
  #infoarte b, #infoarte u, #infoarte i, #infoarte center,
  #infoarte dl, #infoarte dt, #infoarte dd, #infoarte ol, #infoarte ul, #infoarte li,
  #infoarte fieldset, #infoarte form, #infoarte label, #infoarte legend,
  #infoarte table, #infoarte caption, #infoarte tbody, #infoarte tfoot, #infoarte thead, #infoarte tr, #infoarte th, #infoarte td,
  #infoarte article, #infoarte aside, #infoarte canvas, #infoarte details, #infoarte embed,
  #infoarte figure, #infoarte figcaption, #infoarte footer, #infoarte header, #infoarte hgroup,
  #infoarte menu, #infoarte nav, #infoarte output, #infoarte ruby, #infoarte section, #infoarte summary,
  #infoarte time, #infoarte mark, #infoarte audio, #infoarte video, #infoarte button {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline; }
  #infoarte article, #infoarte aside, #infoarte details, #infoarte figcaption, #infoarte figure,
  #infoarte footer, #infoarte header, #infoarte hgroup, #infoarte menu, #infoarte nav, #infoarte section {
    display: block; }
  #infoarte body {
    line-height: 1; }
  #infoarte ol, #infoarte ul {
    list-style: none; }
  #infoarte blockquote, #infoarte q {
    quotes: none; }
  #infoarte blockquote:before, #infoarte blockquote:after,
  #infoarte q:before, #infoarte q:after {
    content: '';
    content: none; }
  #infoarte table {
    border-collapse: collapse;
    border-spacing: 0; }

html, body, * {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none; }

/*TELA FULL*/
body article {
  max-width: 100% !important; }

/*COLOCA A BARRA DO GLOGO POR CIMA*/
body #sticker {
  z-index: 100000000000000000000000000000;
  position: relative !important; }

body #menu-editoria {
  z-index: 100000000000000000000000000000; }

/*TIRA O TÍTULO E SUBTÍTULO DA PÁGINA*/
body .head-materia {
  height: 0;
  overflow: hidden; }

body #all_banner {
  height: 0 !important;
  overflow: hidden  !important;
  padding: 0  !important;
  border: none  !important;
  background: none  !important;
  margin: 0  !important; }

body article + .row {
  display: none; }

body article .row:nth-child(1) {
  display: none; }

/*Tira publicidade*/
@media screen and (max-width: 640px) {
  #pub-slb-topo {
    display: none; } }

#infoarte {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0; }
  #infoarte .topo {
    margin: 26px 0; }
    #infoarte .topo h1 {
      width: 325px;
      font-family: OgloboCondensedSemibold, "Times New Roman", times, serif;
      font-size: 70px;
      line-height: 53px;
      color: #333333;
      margin: 0 auto; }
      #infoarte .topo h1 span {
        font-family: OgloboCondensedRegular, "Times New Roman", times, serif; }
      #infoarte .topo h1:after {
        content: "";
        display: block;
        width: 100px;
        height: 4px;
        background: #333333;
        margin: 41px auto 30px auto; }
    #infoarte .topo h2 {
      width: 370px;
      text-align: center;
      margin: 0 auto;
      font-size: 26px;
      line-height: 26px;
      color: #222222;
      font-family: OgloboCondensedRegular, "Times New Roman", times, serif; }
  #infoarte .telas {
    position: relative; }
    #infoarte .telas .tela-abertura {
      padding-top: 64px;
      position: relative; }
      #infoarte .telas .tela-abertura .centro {
        max-width: 1240px;
        margin: 0 auto;
        overflow: auto;
        position: relative; }
      #infoarte .telas .tela-abertura .imagens-jogadores {
        width: 54.83871%;
        position: relative;
        float: left; }
        #infoarte .telas .tela-abertura .imagens-jogadores .case-img {
          width: 75%;
          margin: 0 auto;
          overflow: hidden; }
          #infoarte .telas .tela-abertura .imagens-jogadores .case-img img {
            width: 100%;
            position: relative;
            top: 8px; }
        #infoarte .telas .tela-abertura .imagens-jogadores .retangulo {
          width: 100%;
          height: 190px;
          position: absolute;
          border: 8px solid #CC0219;
          border-bottom: none;
          bottom: 0; }
      #infoarte .telas .tela-abertura .descricao {
        color: #6B6B6B;
        max-width: 320px;
        font-size: 23px;
        line-height: 26px;
        font-family: OgloboCondensedRegular, "Times New Roman", times, serif;
        float: right; }
      #infoarte .telas .tela-abertura .case-menu {
        width: 100%;
        position: absolute; }
      #infoarte .telas .tela-abertura .menu-times {
        position: relative;
        padding: 50px 0;
        margin: 5px 0; }
        #infoarte .telas .tela-abertura .menu-times li {
          margin: 2px 20px; }
          #infoarte .telas .tela-abertura .menu-times li .case-img {
            box-sizing: border-box;
            width: 140px;
            height: 140px;
            background: white;
            border-radius: 50%;
            box-shadow: 0px 0px 5px 0px #222222;
            background-position: center center;
            background-repeat: no-repeat; }

/*
  @media screen and(max-width: 1024px){
*/
