// ESTRUTURA
$folder: "processos-prefeitos";
$url_dev: "http://192.168.31.88:9000/";
$url_svn: "/htmlinfostatics/templates/"+$folder+"/";
$url_qa: "http://ec2-54-235-89-71.compute-1.amazonaws.com/" +$folder+ "/";
$url_s3: "http://infograficos-estaticos.s3.amazonaws.com/"+$folder+"/";

$url_usage: $url_s3;

// FONTS
//condensed
$fc: "Times New Roman", times, serif;
$fl: OgloboCondensedLight, $fc;
$fr: OgloboCondensedRegular, $fc;
$fsb: OgloboCondensedSemibold, $fc;
$fm: OgloboCondensedMedium, $fc;
$fb: OgloboCondensedBold, $fc;
//x condensed
$fxl: "Oglobox-condensed-Light", $fc;
$fxr: "Oglobox-condensed-Regular", $fc;
$fxsb: "Oglobox-condensed-Semibold", $fc;
$fxm: "Oglobox-condensed-Medium", $fc;
$fxb: "Oglobox-condensed-Bold", $fc;
//georgia
$fg: Georgia, $fc;
//whitman
$wi:  'Whitman-ItalicLF', $fg;
$wb:  'Whitman-BoldLF', $fg;
$wr:  'Whitman-RomanLF', $fg;

@function p($filho, $pai){
  @return ($filho/$pai)*100%;
}

// @font-face {
//   font-family: 'Whitman-ItalicLF';
//   src:  url('../font/Whitman-ItalicLF.eot?#iefix') format('embedded-opentype'), 
//       url('../font/Whitman-ItalicLF.otf') format('opentype'), 
//       url('../font/Whitman-ItalicLF.woff') format('woff'), 
//       url('../font/Whitman-ItalicLF.ttf') format('truetype'), 
//       url('../font/Whitman-ItalicLF.svg#Whitman-ItalicLF') format('svg');
//   font-weight: normal;
//   font-style: normal; 
// }
// @font-face {
//   font-family: 'Whitman-BoldLF';
//   src:  url('../font/Whitman-BoldLF.eot?#iefix') format('embedded-opentype'), 
//       url('../font/Whitman-BoldLF.otf') format('opentype'), 
//       url('../font/Whitman-BoldLF.woff') format('woff'), 
//       url('../font/Whitman-BoldLF.ttf') format('truetype'), 
//       url('../font/Whitman-BoldLF.svg#Whitman-BoldLF') format('svg');
//   font-weight: normal;
//   font-style: normal; 
// }
// @font-face {
//   font-family: 'Whitman-RomanLF';
//   src:  url('../font/Whitman-RomanLF.eot?#iefix') format('embedded-opentype'), 
//       url('../font/Whitman-RomanLF.otf') format('opentype'), 
//       url('../font/Whitman-RomanLF.woff') format('woff'), 
//       url('../font/Whitman-RomanLF.ttf') format('truetype'), 
//       url('../font/Whitman-RomanLF.svg#Whitman-RomanLF') format('svg');
//   font-weight: normal;
//   font-style: normal; 
// }