@import "includes/configs";
@import "../estaticos/libs/bourbon/app/assets/stylesheets/bourbon";
@import "../estaticos/libs/neat/app/assets/stylesheets/neat";

path {
	stroke-width: 1px;
    stroke: #626261;

}

.cor0 {
	fill: #ffffff;
	background-color: #ffffff;
	stroke-width: 0;
}

.cor1 {
	fill: #f2f0f7;
	background-color: #f2f0f7;
}

.cor2 {
	fill: #faf2e0;
	background-color: #faf2e0;
}

.cor3 {
	fill: #f2d5a2;
	background-color: #f2d5a2;
}

.cor4 {
	fill: #e8a37b;
	background-color: #e8a37b;
}

.cor5 {
	fill: #d06d5e;
	background-color: #d06d5e;
}

.cor6 {
	fill: #ac3232;
	background-color: #ac3232;
}

.ia-container {
	max-width: 1280px;
	height: auto;
	overflow: hidden;
	margin: 0 auto;
	padding: 0 10px;
}

.ia-col3 {
	@include span-columns(3);
}


.ia-col4 {
	@include span-columns(4);
}

.ia-col5 {
	@include span-columns(5);
}


.ia-col10 {
	@include span-columns(10);
}

.ia-col11 {
	@include span-columns(11);
}

.ia-section {
	@include row();
	margin-top: 80px;
}

h3 {
	font: normal 35px/37px $fxr;
	color: #9b2b2a;
	text-transform: uppercase;
	.ia-detail {
		width: 60px;
		height: 3px;
		background-color: #9b2b2a;
		display: block;
		margin-bottom: 5px;
	}
}

h4 {
	font: normal 35px/37px $fm;
	text-transform: uppercase;
}

p {
	font: normal 16px/35px georgia, arial;
	color: #494949;
}

hr {
	display: block;
	background-color: #c8c8c8;
	border: 0;
	height: 1px;
}

button {
	cursor: pointer;
}

button:focus, button:active, button:hover {
	outline: none;
}