@import "includes/configs";
@import "../estaticos/libs/bourbon/app/assets/stylesheets/bourbon";
@import "../estaticos/libs/neat/app/assets/stylesheets/neat";

#ia-header {
	#ia-banner-open {
		position: relative;
		height: auto;
		overflow: hidden;
		background-color: #a3a3a3;
	}
	img {
		width: 100%;
	}
}


.ia-title {
	font: normal 86px/68px 'Whitman-RomanLF', $fr;
	color: #fff;
	text-align: center;
	text-shadow: 5px 5px 5px rgba(0,0,0,.5);
	position: absolute;
	bottom: 100px;
	text-transform: uppercase;
	top: 50%;
	margin-top: -129px;
	left: 50%;
	margin-left: -170px;

	span {
		font-family: 'Whitman-RomanLF', $fb;
	}
}

.ia-arrow-down {
	width: 42px;
	height: 19px;
	display: block;
	background: transparent url(../img/arrow-down.png) no-repeat 0 0;
	// position: absolute;
	// z-index: 2;
	// bottom: 10px;
	// left: 50%;
	// margin-left: -21px;
	margin: 20px auto 0;
}

.ia-subtitle {
	max-width: 820px;
	font: normal 24px/47px Georgia, arial;
	color: #000;
	text-align: center;
	margin: 60px auto 30px;
}

.ia-credit {
	font: normal 16px Georgia;
	color: #000;
	font-style: italic;
	text-align: center;
	display: block;

	small {
		font-size: 14px;
	}
}