.case-mapa{
	@include semifull;
	position: relative;

	img{
		width: 100%;
		outline: 0 !important;
	}
	.img-base{
		position: relative;
		z-index: 1;
	}
	.case-trajeto{
		position: absolute;
		top: 0;
		z-index: 10;
		@include semifull;
	}
	.center-controle{
		width: 700px;
		margin: 0 auto;
		@media screen and (max-width: 700px){
			width: 100%;
		}
	}
	.case-controle{
		width: 225px;
		background: rgba(255,255,255,0.7);
		// height: 100%;
		// height: calc(100% - 130px);
		height: auto;
		position: absolute;
		top: 0;
		z-index: 20;
		box-sizing: border-box;
		padding: 0 8px;
		padding-bottom: 5px;

		// @media screen and (max-width: 1280px){
		// 	height: 100%;
		// }

		// border-bottom: 1px solid $cinza;

		.titulo{
			font-family: $wb;
			font-size: 28px;
			color: $amarelo-titulo;
			font-weight: normal;
		}
		.titulo-descricao{
			font-family: $fm;
			font-size: 24px;
			color: $cinza;
			margin-bottom: 20px;
			margin-top: 35px;
		}
		.descricao{
			font-family: Arial;
			font-size: 17px;
			line-height: 22px;
		}
		.img-desc{
			width: 100%;
			margin-top: 8px;
		}
		.botoes{
			float: left;
		}
		.contador{
			float: left;
			font-family: $fg;
			font-size: 17px;
			font-style: italic;
			color: $cinza-escuro;
			margin: 11px 0 0 7px;
		}
		.case-setas{
			padding-bottom: 10px;
			// margin-bottom: 12px;
			border-bottom: 1px solid $cinza;
			overflow: auto;
			.slick-arrow{
				width: 43px;
				height: 43px;
				text-indent: -9999px;
				cursor: pointer;
				outline: 0;
				background: url(../images/seta-dir-atv.png);
			}
			.slick-prev{
				background: url(../images/seta-esq-atv.png);
				margin-right: 6px;
			}
			.slick-next{
				background: url(../images/seta-dir-atv.png);
				
			}
		}
		.case-detalhes{
			width: 100%;
		}
		
	}
}