include ./../../mixins/tags.jade
include ./../../index.jade
{% extends "redesenho/pagina.html" %}
{% block include_head_template %}
+header_desktop()
{% endblock include_head_template %}
{% block mainContent %}
+master_desktop()
+footer_desktop()
{% endblock %}