include ./../../mixins/tags.jade
include ./../../index.jade
include ./../../mobi.jade

{% extends "redesenho/pagina.html" %}
{% block include_head_template %}

{% if mobile %}
+header_mobi()
{% else %}
+header_desktop()
{% endif %}

{% endblock include_head_template %}
{% block mainContent %}

{% if mobile %}
+master_mobi()
{% else %}
+master_desktop()
{% endif %}

{% if mobile %}
+footer_mobi()
{% else %}
+footer_desktop()
{% endif %}
{% endblock %}