mixin img(atributos)

	-var obj = {};

	each val, k in atributos
		if (k=="src" || k=="data-src") && amb=='prod'
			-obj[k]= s3 + pasta + '/assets' + val;
		else
			-obj[k]=val;

	img()&attributes(obj)

mixin script(atributos)

	-var obj = {};

	each val, k in atributos
		if k=="src" && amb=='prod'
			-obj[k]= s3 + pasta + '/assets' + val;
		else
			-obj[k]=val;

	script(type="text/javascript")&attributes(obj)

mixin embed(atributos)

	-var obj = {};

	each val, k in atributos
		if k=="src" && amb=='prod'
			-obj[k]= s3 + pasta + '/assets' + val;
		else
			-obj[k]=val;

	embed()&attributes(obj)

mixin link(atributos)

	-var obj = {};

	each val, k in atributos
		if k=="href" && amb=='prod'
			-obj[k]= s3 + pasta + '/assets' + val;
		else
			-obj[k]=val;

	link(rel="stylesheet" type="text/css")&attributes(obj)

mixin video(id_video, nomeDaFoto, nomeDaFotoMobi, contador)
	.trocador.globo-video
		.trocador-blocos
			.trocador-pista
				.trocador-bloco.trocador-capa.em-exibicao
					.flex.capa-globo-video(id='cresce-mobi')
						.capa-desk
							if(amb=='prod')
								.globo-video-responsive(style="background-image: url(http://infograficos-estaticos.s3.amazonaws.com/refugiados-especial/assets/images/"+nomeDaFoto+"); background-size: 100% auto;")
							else
								.globo-video-responsive(style="background-image: url(../images/"+nomeDaFoto+"); background-size: 100% auto;")
						.capa-mobi
							if(amb=='prod')
								.globo-video-responsive(style="background-image: url(http://infograficos-estaticos.s3.amazonaws.com/refugiados-especial/assets/images/fotos-mobi/"+nomeDaFotoMobi+"); background-size: 100% auto;")
							else
								.globo-video-responsive(style="background-image: url(../images/fotos-mobi/"+nomeDaFotoMobi+"); background-size: 100% auto;")
					.capa-video-play
						.center-btn
							.btn
								.botao-play
								p Depoimento
				.trocador-bloco.trocador-video
					.flex
						.globo-video-responsive.video-el(data-player-videosIDs=id_video)

