mixin header_desktop
	meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no")
	+link({href: "/css/slick.css"})
	+link({href: "/css/main.css"})


mixin master_desktop
	#infoarte
		header.topo
			h1.titulo DESAFIO <span>DOS</span> PONTOS CORRIDOS
			h2.subtitulo CONHECE BEM O DESEMPENHO DO SEU TIME NO CAMPEONATO BRASILEIRO?
		.telas
			section.tela-abertura
				.centro
					.imagens-jogadores
						.retangulo
						.case-img
							+img({src:"/images/jogadores/flamengo-img.png"})
					p.descricao É a hora do tira-teima. Reunimos os resultados dos últimos dez anos da disputa (2006-2015) e calculamos o desempenho em diversas situações das 22 equipes que disputaram ao menos 150 jogos nesse período. Escolha um time, teste seu conhecimento e compare com a média dos outros internautas
					.case-menu
						ul.menu-times
							-for(var x=0;x<20;x++)
								li
									.case-img(style="background-image:url('images/escudos-desktop-home/flamengo.png')")
										//- +img({src:"/images/escudos-desktop-home/flamengo.png" style:"background-image:url('images/escudos-desktop-home/flamengo.png')"})

					
mixin footer_desktop
	+script({src:"/js/slick.min.js"})
	+script({src:"/js/_g.js"})
	+script({src:"/js/libs/underscore-min.js"})
	script(type='text/javascript').
		_g.amb('#{amb}').pasta('#{pasta}');

	+script({src:"/js/main.js"})