mixin header_mobi
	meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no")
	+link({href: "/css/main_mobi.css"})


mixin master_mobi
	#infoarte
		section.sessao-exemplo
			.exemplo-div
				h5 Div de exemplo:
				a(href="http://www.google.com", target="_blank").linkgoogle
					+img({src: '/images/imagem-link-1.jpg', class: 'img-exemplo'})

		
mixin footer_mobi
	+script({src:"/js/_g.js"})
	+script({src:"/libs/d3/d3.min.js"})
	+script({src:"/libs/topojson/topojson.js"})
	+script({src:"/libs/underscore/underscore-min.js"})
	+script({src:"/libs/queue-async/queue.min.js"})
	script(type='text/javascript').
		_g.amb('#{amb}').pasta('#{pasta}');
	+script({src:"/js/main.js"})
	+script({src:"/js/main_mobi.js"})