include ./../../mixins/tags.jade
include ./../../index.jade

doctype html
html
	head
		title Desktop | Infográficos
		link(href="/fonts/oglobo/fonts.css" rel="stylesheet" type="text/css")
		link(href="/fonts/whitman/fonts.css" rel="stylesheet" type="text/css")
		meta(name="viewport" content="width=device-width, user-scalable=no, initial-scalable=1, minimum-scale=1, maximum-scale=1")
		+header_desktop()
	body
		+master_desktop()
		script(src="/js/libs/jquery.min.js")
		+footer_desktop()