include ./../../mixins/tags.jade
include ./../../mobi.jade

doctype html
html
	head
		title Mobile | Infográficos
		meta(name="viewport" content="width=device-width, user-scalable=no, initial-scalable=1, minimum-scalable=1, maximum-scalable=1")
		link(href="/fonts/oglobo/fonts.css" rel="stylesheet" type="text/css")
		link(href="/fonts/whitman/fonts.css" rel="stylesheet" type="text/css")
		+header_mobi()
	body
		+master_mobi()
		script(src="//localhost:35729/livereload.js")
		script(src="/js/libs/jquery.min.js")
		+footer_mobi()