@import "includes/mixins";
@import "includes/configs";
@import "includes/reset";

$amarelo-titulo: #f0b88c;
$amarelo: #f0c59f;
$cinza: #6B6B6B;
$cinza-escuro: #333333;
$cinza-escuro-2: #222222;

html, body, * {
  margin:0;
  padding:0;
  text-decoration:none;
  list-style:none;
}
/*TELA FULL*/
body article{
  max-width: 100% !important;
}
/*COLOCA A BARRA DO GLOGO POR CIMA*/
body #sticker{
  z-index: 100000000000000000000000000000;
  position: relative !important;
}
body #menu-editoria{
  z-index: 100000000000000000000000000000;
}
/*TIRA O TÍTULO E SUBTÍTULO DA PÁGINA*/
body .head-materia{
  height: 0;
  overflow: hidden;
}
body #all_banner{
  height: 0 !important;
  overflow: hidden  !important;
  padding: 0  !important;
  border: none  !important;
  background: none  !important;
  margin: 0  !important;
}
body article+.row{
  display: none;
}
body article .row:nth-child(1){
  display: none;
}
/*Tira publicidade*/
#pub-slb-topo{
  @media screen and (max-width: 640px){
    display: none;
  }
}
#infoarte{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  .topo{
    margin: 26px 0;
    h1{
      width: 325px;
      font-family: $fsb;
      font-size: 70px;
      line-height: 53px;
      color: $cinza-escuro;
      margin: 0 auto;
      span{
        font-family: $fr;
      }
      &:after{
        content: "";
        display:block;
        width: 100px;
        height: 4px;
        background: $cinza-escuro;
        margin: 41px auto 30px auto;
      }
    }
    h2{
      width: 370px;
      text-align: center;
      margin: 0 auto;
      font-size: 26px;
      line-height: 26px;
      color: $cinza-escuro-2;
      font-family: $fr;
    }
  }
  .telas{
    position: relative;
    .tela-abertura{
      // height: 100vh;
      padding-top: 64px;
      position: relative;
      .centro{
        @include semifull;
        overflow: auto;
        position: relative;
      }
      .imagens-jogadores{
        width: p(680,1240);
        position: relative;
        float: left;
        .case-img{
          width: p(510,680);
          margin: 0 auto;
          overflow: hidden;
          img{
            width: 100%;
            position: relative;
            top: 8px;
          }
        }
        .retangulo{
          width: 100%;
          height: 190px;
          position: absolute;
          border: 8px solid #CC0219;
          border-bottom: none;
          bottom: 0;
        }
      }
      .descricao{
        color: $cinza;
        max-width: 320px;
        font-size: 23px;
        line-height: 26px;
        font-family: $fr;
        float: right;
      }
      .case-menu{
        width: 100%;
        position: absolute;
      }
      .menu-times{
        position: relative;
        // overflow: auto;
        padding: 50px 0;
        margin: 5px 0;
        li{
          margin: 2px 20px;
          .case-img{
            box-sizing: border-box;
            width: 140px;
            height: 140px;
            background: white;
            border-radius: 50%;
            box-shadow: 0px 0px 5px 0px rgba(34,34,34,1);
            background-position: center center;
            background-repeat: no-repeat;
          }
        }
      }
    }
  }
}
/*
  @media screen and(max-width: 1024px){
*/